<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div sec:authorize="!isAuthenticated()">
    <h2 align="center"><a th:href="@{/login}">请登录</a></h2>
</div>

<div sec:authorize="isAuthenticated()">
    <h2>
        <span sec:authentication="name"></span>
        您好，您的用户权限为
        <span sec:authentication="principal.authorities"></span>
    </h2>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="注销">
    </form>
</div>

    <a href="#" th:href="@{/startRecord}">记录</a>
    <a href="#" th:href="@{/searchAll}">查询所有</a>
    <a href="#" th:href="@{/searchNormal}">查询正常的</a>
    <a href="#" th:href="@{/findAll}">查所有</a>
    <a href="#">删除</a>
</body>
</html>